.blog {
  position: relative;
  padding: 300px 0 250px;
  overflow: hidden;

  &::after {
    content: url("../images/decor1.svg");
    position: absolute;
    left: -200px;
    top: 0;
    z-index: -1;
    opacity: 0.2;
  }

  h1 {
    font-family: "Neue Machina", sans-serif;
    text-transform: uppercase;

    span {
      color: $main;
    }

    @include r($xl) {
      font-size: 50px;
    }

    @include r($md) {
      font-size: 30px;
    }
  }

  @include r($md) {
    padding: 159px 0 48px;
  }
}

.note {
  &__list {
    margin-bottom: 50px;
    padding-top: 50px;
    border-top: 2px solid $black;

    li {
      display: flex;
      padding-bottom: 50px;
      border-bottom: 2px solid $black;

      &:not(:last-child) {
        margin-bottom: 50px;

        @include r($md) {
          margin-bottom: 20px;
        }
      }

      img {
        margin-right: 50px;
        width: 100%;
        max-width: 460px;
        max-height: 310px;
        object-fit: cover;

        @include r($xl) {
          margin-right: 30px;
          max-width: 400px;
        }

        @include r($lg) {
          max-width: 380px;
        }

        @include r($md) {
          margin-right: 0;
          margin-bottom: 10px;
          min-height: 150px;
          max-width: 100%;
        }
      }

      span {
        display: block;
        margin-bottom: 25px;
        color: $secondary;

        @include r(1600) {
          margin-bottom: 15px;
          font-size: 18px;
        }

        @include r($md) {
          margin-bottom: 10px;
          font-size: 14px;
        }
      }

      h4 {
        margin-bottom: 25px;
        font-weight: 500;
        font-size: 36px;

        @include r(1600) {
          margin-bottom: 20px;
          font-size: 28px;
        }

        @include r($lg) {
          font-size: 24px;
        }

        @include r($md) {
          margin-bottom: 10px;
          font-size: 16px;
        }
      }

      @include r($md) {
        flex-direction: column;
        padding-bottom: 20px;
        border-bottom: 1px solid $black;
      }
    }

    @include r($md) {
      margin-bottom: 50px;
      padding-top: 25px;
      border-top: 1px solid $black;
    }
  }
}

.pagination {
  margin-bottom: 50px;

  &__list {
    display: flex;
    justify-content: center;

    li {
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        width: 40px;
        height: 40px;
        border: 1px solid $main;
        border-radius: 50%;
        font-weight: 500;
        font-size: 20px;
        line-height: 40px;
        text-align: center;
        color: $black;
        background-color: $white;
        transition: background-color 0.2s, color 0.2s;

        &:hover {
          background-color: #e3e8ff;
        }

        &:active {
          color: $white;
          background-color: #2d5bfe;
        }

        @include r($md) {
          width: 30px;
          height: 30px;
          font-size: 16px;
          line-height: 30px;
        }
      }

      &:not(:last-child) {
        margin-right: 15px;

        @include r($md) {
          margin-right: 8px;
        }
      }
    }

    .current {
      a {
        color: $white;
        background-color: $main;

        &:hover {
          background-color: $main;
        }

        &:active {
          color: $white;
          background-color: #2d5bfe;
        }
      }
    }
  }

  .button-link {
    margin: 0 auto 25px;
  }
}