.careers {
  position: relative;

  h4 {
    margin-top: 50px;
    font-weight: 500;
    font-size: 48px;
    text-transform: uppercase;
    color: $main;

    span {
      color: $main;
    }

    @include r(1500) {
      font-size: 42px;
    }

    @include r(1300) {
      font-size: 36px;
    }

    @include r($xl) {
      margin-top: 40px;
      font-size: 30px;
    }

    @include r($md) {
      margin-top: 25px;
      font-weight: 500;
      font-size: 24px;
    }
  }

  &__box {
    max-width: 970px;

    p {
      font-size: 24px;

      &:not(:last-child) {
        margin-bottom: 22px;

        @include r($md) {
          margin-bottom: 18px;
        }
      }

      @include r($xl) {
        font-size: 20px;
      }

      @include r($lg) {
        font-size: 18px;
      }

      @include r($md) {
        font-size: 16px;
      }
    }
  }

  &__animation {
    position: absolute;
    left: 0;
    top: 50%;
    z-index: -1;
    height: fit-content;
    max-width: 70%;
    transform: translateY(-50%);
    animation: appear 1.5s;

    @include r($lg) {
      top: 10%;
      max-width: 100%;
      transform: translateY(0);
    }
  }
}

.work {
  padding: 250px 0;
  background-image: url("../images/decor-dark.svg");
  background-position: center right 42%;
  background-size: cover;
  background-repeat: no-repeat;

  &__wrapper {
    display: flex;
    margin-bottom: 150px;
    padding-top: 50px;
    border-top: 2px solid $white;
    animation: appear 1.5s;

    @include r($md) {
      flex-direction: column;
      margin-bottom: 25px;
      padding-top: 25px;
      border-top: 1px solid $white;
    }
  }

  span {
    color: $main;
  }

  h2 {
    margin-right: 50px;
    width: 100%;
    max-width: 460px;
    font-size: 43px;
    text-transform: uppercase;

    @include r(1500) {
      max-width: 400px;
      font-size: 38px;
    }

    @include r($xl) {
      font-size: 30px;
    }

    @include r($md) {
      margin-right: 0;
      margin-bottom: 10px;
      max-width: 100%;
      font-size: 24px;
    }
  }

  h5 {
    font-weight: 400;
    font-size: 24px;

    @include r(1500) {
      font-size: 20px;
    }

    @include r($md) {
      font-size: 16px;
    }
  }

  ul {
    display: grid;
    justify-content: center;
    grid-gap: 100px 50px;
    grid-template-columns: 1fr 1fr 1fr;

    li {
      img {
        margin: 0 auto 35px 0;

        @include r($xl) {
          margin: 0 auto 20px 0;
          width: 70px;
          height: 70px;
        }

        @include r($lg) {
          margin: 0 auto 15px 0;
          width: 60px;
          height: 60px;
        }
      }

      h3 {
        margin-bottom: 10px;
        font-weight: 600;
        font-size: 32px;
        text-transform: uppercase;

        @include r(1500) {
          font-size: 26px;
        }

        @include r(1300) {
          font-size: 20px;
        }

        @include r($lg) {
          font-size: 18px;
        }

        @include r($md) {
          margin-bottom: 5px;
          font-weight: 500;
          font-size: 16px;
        }
      }

      p {
        color: #a9a9a9;

        @include r(1500) {
          font-size: 18px;
        }

        @include r($xl) {
          font-size: 16px;
        }

        @include r($lg) {
          font-size: 14px;
        }
      }

      &:nth-child(1) {
        animation: appear 1.5s;
      }

      &:nth-child(2) {
        animation: appear 1.6s;
      }

      &:nth-child(3) {
        animation: appear 1.7s;
      }

      &:nth-child(4) {
        animation: appear 1.8s;
      }

      &:nth-child(5) {
        animation: appear 1.9s;
      }
    }

    @include r($xl) {
      grid-gap: 80px 40px;
    }

    @include r($md) {
      grid-gap: 30px 0;
      grid-template-columns: 1fr;
    }
  }

  @include r($md) {
    padding: 50px 0 20px;
    background-image: none;
  }
}

.pic-block {
  animation: appear 1.5s;

  img {
    width: 100%;
    max-height: 750px;
    object-fit: cover;
  }
}

.job-careers {
  padding: 150px 0;
  color: $black;
  background-color: $white;

  h2 {
    margin-bottom: 150px;
    width: 100%;
    max-width: 100%;
    text-align: center;

    span {
      color: $main;
    }

    @include r(1500) {
      font-size: 58px;
    }

    @include r($xl) {
      margin-bottom: 80px;
      font-size: 50px;
    }

    @include r($lg) {
      font-size: 42px;
    }

    @include r($md) {
      margin-bottom: 25px;
      font-size: 24px;
    }
  }

  &__inner {
    animation: appear 1.5s;
  }

  @include r($xl) {
    padding: 80px 0;
  }

  @include r($md) {
    padding: 50px 0;
  }
}

.connect {
  position: relative;
  padding: 150px 0 200px;
  overflow: hidden;

  &::before {
    content: url("../images/decor-dark.svg");
    position: absolute;
    right: 84%;
    top: -40%;
    z-index: -1;
    width: 100%;
    height: 100%;

    @include r($md) {
      display: none;
    }
  }

  &__photo-wrapper {
    margin-right: 30px;
    min-width: 350px;

    @include r($md) {
      margin-right: 0;
      min-width: 100%;
    }
  }

  &__photo-inner {
    display: none;
    animation: appear 1.5s;

    h5 {
      margin-bottom: 5px;
      font-weight: 400;
      font-size: 16px;
    }

    p {
      font-size: 14px;
      color: #a9a9a9;
    }

    @include r($md) {
      display: flex;
      align-items: center;
      margin-bottom: 25px;
    }
  }

  &__photo-mobile {
    display: none;

    @include r($md) {
      display: block;
      margin-right: 16px;
    }
  }

  &__photo-desktop {
    display: block;
    animation: appear 1.5s;

    @include r($md) {
      display: none;
    }
  }

  &__text {
    h4 {
      margin-right: 50px;
      width: 460px;
      min-width: 460px;
      max-width: 460px;
      font-weight: 500;
      font-size: 36px;

      @include r(1500) {
        margin-right: 40px;
        width: 420px;
        min-width: 420px;
        max-width: 420px;
        font-size: 30px;
      }

      @include r($xl) {
        margin-right: 30px;
        width: 360px;
        min-width: 360px;
        max-width: 360px;
      }

      @include r($lg) {
        margin-right: 30px;
        width: 280px;
        min-width: 280px;
        max-width: 280px;
        font-size: 30px;
      }

      @include r($md) {
        margin-right: 0;
        margin-bottom: 25px;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        font-size: 24px;
      }
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @include r($md) {
      flex-direction: column;
    }
  }

  &__info {
    margin-top: 170px;
    max-width: 970px;
    animation: appear 1.7s;

    h3 {
      position: relative;
      margin-bottom: 50px;
      padding-left: 42px;
      font-weight: 400;
      font-style: italic;
      font-size: 53px;

      &::after {
        content: url("../images/blockquote.svg");
        position: absolute;
        left: 0;
        top: 0;
        width: 27px;
        height: 23px;
        font-size: 0;
      }

      span {
        color: $main;
      }

      @include r(1700) {
        font-size: 40px;
      }

      @include r(1600) {
        font-size: 30px;
      }

      @include r($md) {
        margin-bottom: 15px;
        font-size: 16px;
      }
    }

    @include r(1700) {
      max-width: 850px;
    }

    @include r($md) {
      margin-top: 0;
      max-width: 100%;
    }
  }

  .connect__link {
    position: relative;
    display: block;
    margin: 0 0 200px auto;
    padding-right: 125px;
    width: fit-content;
    font-weight: 500;
    font-size: 64px;
    line-height: 74px;
    text-align: right;
    text-transform: uppercase;
    color: $main;

    &::before {
      content: url("../images/connect-link-arrow.svg");
      position: absolute;
      right: 0;
      top: 0;
      width: 75px;
      height: 75px;

      @include r(1500) {
        transform: scale(0.8);
      }

      @include r($md) {
        display: none;
      }
    }

    &:active,
    &:hover,
    &:focus {
      outline: 0;
      outline-offset: 0;
      text-decoration: none;
    }

    @include r(1700) {
      margin: 0 0 150px auto;
      font-size: 52px;
    }

    @include r(1500) {
      margin: 0 0 100px auto;
      font-size: 38px;
    }

    @include r($md) {
      margin: 0 0 50px auto;
      padding-right: 0;
      font-size: 16px;
      line-height: 1.15;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    animation: appear 1.9s;

    input {
      margin-bottom: 50px;
      padding: 0 0 15px;
      width: 100%;
      outline: none;
      border: none;
      border-bottom: 2px solid $white;
      font-weight: 400;
      font-size: 24px;
      line-height: 1.15;
      color: $white;
      background-color: transparent;

      &::placeholder {
        font-weight: 400;
        font-size: 24px;
        line-height: 1.15;
        color: #a9a9a9;

        @include r($lg) {
          font-size: 16px;
        }

        @include r($md) {
          font-size: 14px;
        }
      }

      @include r($lg) {
        margin-bottom: 45px;
        padding: 0 0 12px;
        border-bottom: 1px solid $white;
        font-size: 16px;
      }

      @include r($md) {
        margin-bottom: 35px;
        padding: 0 0 10px;
        font-size: 14px;
      }
    }

    .connect__upload {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 35px;

      span {
        font-weight: 400;
        font-size: 24px;
        line-height: 1.15;
        color: #a9a9a9;

        @include r($lg) {
          font-size: 16px;
        }

        @include r($md) {
          font-size: 14px;
        }
      }

      a {
        position: relative;
        display: block;
        padding-right: 34px;
        height: 24px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: $main;

        &::after {
          content: url("../images/upload.svg");
          position: absolute;
          right: 0;
          top: 0;
          width: 24px;
          height: 24px;
        }

        @include r($md) {
          font-size: 14px;
        }
      }
    }

    .connect__checkbox {
      position: relative;
      display: flex;
      align-items: center;
      margin: 18px 0 52px;
      height: 32px;
      font-weight: 400;
      font-size: 24px;
      line-height: 32px;

      &::after {
        content: "";
        position: absolute;
        left: 4px;
        top: 50%;
        width: 24px;
        height: 24px;
        border: 1px solid #a9a9a9;
        border-radius: 3px;
        transform: translateY(-50%);
        cursor: pointer;
      }

      input {
        position: absolute;
        margin: 0 19px 0 4px;
        width: 24px;
        height: 24px;
        appearance: none;
        border: none;
        background-color: transparent;

        @include r($md) {
          margin: 0 5px 0 4px;
          width: 20px;
          height: 20px;
        }
      }

      .checkbox-text {
        padding-left: 47px;
      }

      .color--main {
        color: $main;
      }

      @include r($md) {
        margin: 0 0 35px;
        font-size: 14px;
      }

      //input:checked + .form__agree-inner::before {
      //  opacity: 1;
      //}
    }

    .button-link {
      @include r($md) {
        margin: 0 auto 0 0;
      }
    }
  }

  @include r($md) {
    padding: 50px 0;
  }
}

.connect--contact {
  animation: appear 1.5s;

  &::before {
    display: none;
  }

  form {
    width: 100%;
  }
}

.connect--vacancy {
  padding: 0 0 200px;
}

.connect__info--contact {
  margin-top: 0;
  width: 100%;
  max-width: 970px;

  .form {
    input {
      border-bottom: 2px solid $black;
    }
  }
}

.connect__wrapper--vacancy {
  padding-top: 50px;
  border-top: 2px solid $black;
}