.contact {
  position: relative;
  padding: 300px 0 250px;

  &::after {
    content: url("../images/decor-expert1.svg");
    position: absolute;
    right: 70%;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
  }

  h1 {
    font-family: "Neue Machina", sans-serif;
    text-transform: uppercase;
  }
}

.contact-box {
  &__item {
    display: flex;
    padding: 50px 0;
    border-top: 2px solid $black;
    border-bottom: 2px solid $black;

    h4 {
      width: 100%;
      max-width: 460px;
      font-weight: 500;
      font-size: 36px;
    }

    a {
      display: block;
      font-weight: 500;
      font-size: 48px;
      text-transform: uppercase;
      color: $main;
    }

    &:last-child {
      border-top: none;
    }
  }

  &__mail {
    width: fit-content;
  }

  &__vacancy {
    position: relative;
    width: 100%;
    line-height: 55px;

    &::after {
      content: url("../images/arrow-main-diagonal.svg");
      position: absolute;
      right: 0;
      top: 0;
      width: 55px;
      height: 55px;
    }
  }
}