.expertise {
  position: relative;
  overflow: hidden;

  &::after {
    content: url("../images/decor1.svg");
    position: absolute;
    left: -200px;
    top: 0;
    z-index: -1;
    opacity: 0.2;
  }

  h1 {
    width: 460px;
    font-family: "Neue Machina", sans-serif;
    text-transform: uppercase;

    @include r(1500) {
      width: 420px;
      font-size: 64px;
    }

    @include r($xl) {
      width: 380px;
      font-size: 54px;
    }

    @include r($lg) {
      width: fit-content;
    }

    @include r($md) {
      font-size: 30px;
      line-height: 1.3;
    }
  }

  &__box {
    max-width: 970px;

    p {
      font-size: 24px;

      &:not(:last-child) {
        margin-bottom: 22px;

        @include r($md) {
          margin-bottom: 18px;
        }
      }

      @include r($xl) {
        font-size: 20px;
      }

      @include r($lg) {
        font-size: 18px;
      }

      @include r($md) {
        font-size: 16px;
      }
    }
  }
}

.profit {
  padding-bottom: 200px;
  background-image: url("../images/decor3.svg");
  background-position: bottom -100px left 45%;
  background-size: cover;
  background-repeat: no-repeat;

  ul {
    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      min-height: 150px;
      background-size: 150px;
      background-repeat: no-repeat;

      &:not(:last-child) {
        margin-bottom: 150px;
      }

      &:nth-child(odd) {
        padding-left: 364px;
        max-width: 1020px;
        background-position: center left;
      }

      &:nth-child(even) {
        margin: 0 100px 150px auto;
        max-width: 870px;
        background-position: center right;

        p {
          max-width: 660px;
        }
      }

      @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
          background-image: url("../images/benefit-big-#{$i}.svg");
        }
      }
    }

    h4 {
      margin-bottom: 10px;
      font-weight: 600;
      font-size: 40px;
      text-transform: uppercase;
    }

    p {
      font-size: 24px;
      color: $secondary;
    }
  }
}