.footer {
  padding: 25px 0;
  color: $white;
  background-color: $main;

  &__info {
    display: flex;
    justify-content: space-between;

    p {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
    }

    ul {
      display: flex;

      li {
        a {
          font-weight: 500;
          font-size: 16px;
          text-decoration: underline transparent;
          transition: text-decoration 0.2s, font-weight 0.2s;

          &:hover {
            text-decoration: underline;
          }

          &:active {
            font-weight: 600;
            text-decoration: underline;
          }
        }
      }

      li + li {
        margin-left: 69px;
      }
    }
  }
}

.menu-footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 13px;

  ul {
    display: flex;
    padding-top: 26px;

    li + li {
      margin-left: 67px;
    }

    a {
      position: relative;
      display: block;
      padding-right: 45px;
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      text-decoration: underline transparent;
      text-transform: uppercase;
      transition: text-decoration 0.2s, font-weight 0.2s;

      &::after {
        content: url("../images/arrow-white-diagonal.svg");
        position: absolute;
        right: 0;
        top: 50%;
        width: 29px;
        height: 29px;
        transform: translateY(-50%);
      }

      &:hover {
        text-decoration: underline;
      }

      &:active {
        font-weight: 600;
        text-decoration: underline;
      }
    }
  }
}