.footer {
  padding: 25px 0;
  color: $white;
  background-color: $main;

  &__container {
    @include r($md) {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;

      @include r($md) {
        margin-bottom: 5px;
        font-weight: 400;
        font-size: 14px;
      }

      @include r($sm) {
        font-size: 10px;
        line-height: 13px;
      }
    }

    ul {
      display: flex;

      li {
        a {
          display: block;
          height: 19px;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          text-decoration: underline transparent;
          transition: text-decoration 0.2s, font-weight 0.2s;

          &:hover {
            text-decoration: underline;
          }

          &:active {
            font-weight: 600;
            text-decoration: underline;
          }

          @include r($lg) {
            font-weight: 400;
            font-size: 14px;
          }

          @include r($sm) {
            height: 13px;
            font-size: 10px;
            line-height: 13px;
          }
        }
      }

      li + li {
        margin-left: 69px;

        @include r($xl) {
          margin-left: 40px;
        }

        @include r($lg) {
          margin-left: 30px;
        }

        @include r($md) {
          margin-left: 15px;
        }
      }
    }

    @include r($md) {
      flex-direction: column;
      align-items: flex-end;
    }
  }

  @include r($md) {
    padding: 31px 0 15px;
  }
}

.menu-footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 13px;

  ul {
    display: flex;
    padding-top: 26px;

    li + li {
      margin-left: 67px;

      @include r(1600) {
        margin-left: 40px;
      }

      @include r(1400) {
        margin-left: 30px;
      }

      @include r($lg) {
        margin-left: 15px;
      }
    }

    a {
      position: relative;
      display: block;
      padding-right: 45px;
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      text-decoration: underline transparent;
      text-transform: uppercase;
      transition: text-decoration 0.2s, font-weight 0.2s;

      &::after {
        content: url("../images/arrow-white-diagonal.svg");
        position: absolute;
        right: 0;
        top: 50%;
        width: 29px;
        height: 29px;
        transform: translateY(-50%);

        @include r($lg) {
          transform: translateY(-50%) scale(0.6);
        }
      }

      &:hover {
        text-decoration: underline;
      }

      &:active {
        font-weight: 600;
        text-decoration: underline;
      }

      @include r(1400) {
        font-size: 20px;
      }

      @include r($xl) {
        padding-right: 35px;
        font-size: 18px;
      }

      @include r($lg) {
        padding-right: 25px;
        font-size: 16px;
      }
    }

    @include r($md) {
      display: none;
    }

    @include r(1400) {
      padding-top: 10px;
    }
  }

  @include r($md) {
    margin-bottom: 0;
  }
}

.logo-footer {
  @include r($md) {
    width: 90px;
    height: 79px;

    img {
      width: 90px;
      height: 79px;
    }
  }

  @include r($sm) {
    width: 63px;
    height: 55px;

    img {
      width: 63px;
      height: 55px;
    }
  }
}
