.header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 20;
  padding-top: 68px;
  transition: all 0.2s;
  animation: appear 1.5s;

  &--active {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $bg;

    .menu {
      ul {
        align-items: center;
        padding-top: 0;

        @include r($lg) {
          align-items: flex-end;
        }
      }
    }

    @include r($lg) {
      padding-top: 44px;
      padding-bottom: 0;
    }
  }

  @include r($lg) {
    padding: 5px 0;
  }
}

.header-dark {
  background-color: transparent;
}

.header-dark--active {
  background-color: #171717;
}

.menu {
  display: flex;
  justify-content: space-between;

  &__list {
    z-index: 8;
    display: flex;
    padding-top: 8px;

    li + li {
      margin-left: 50px;

      @include r($xl) {
        margin-left: 35px;
      }

      @include r($lg) {
        margin-left: 0;
      }
    }

    li {
      font-size: 18px;

      a {
        display: block;
        text-decoration: none;
        color: inherit;
        transition: color 0.2s;

        &:active,
        &:hover,
        &:focus {
          outline: 0;
          outline-offset: 0;
        }

        &:hover {
          text-decoration: none;
          color: $main !important;
        }

        &:active {
          font-weight: 600;
          color: $main;
        }

        @include r($lg) {
          text-align: right;
        }
      }

      @include r($lg) {
        font-family: "Neue Machina", sans-serif;
        font-weight: 500;
        font-size: 30px;
        line-height: 1.3;

        &:not(:last-child) {
          margin-bottom: 40px;

          @include h(750) {
            margin-bottom: 20px;
          }

          @include h(650) {
            margin-bottom: 5px;
          }
        }
      }
    }

    @include r($lg) {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 5;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      padding: 0 60px;
      height: 100vh;
      overflow: hidden;
      text-align: right;
      background-color: $bg;
      transform: translate(-100%, 0);
      transition: transform 0.4s cubic-bezier(0.77, 0.2, 0.05, 1);

      &::after {
        content: url("../images/decor1.svg");
        position: absolute;
        left: -200px;
        top: 0;
        z-index: -1;
        opacity: 0.2;
        width: 100%;
        height: 100%;
      }
    }

    @include r($md) {
      padding: 0 24px;
    }
  }

  &__list--careers {
    @include r($lg) {
      background-color: #171717;
    }
  }

  &__burger {
    position: relative;
    z-index: 10;
    display: none;
    padding: 0;
    width: 32px;
    height: 32px;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &::after,
    &::before {
      content: "";
      position: absolute;
      left: 4px;
      height: 2px;
      background-color: $main;
      transition: all 0.4s cubic-bezier(0.77, 0.2, 0.05, 1);
    }

    &::before {
      bottom: 8px;
      width: 22px;
    }

    &::after {
      top: 8px;
      width: 24px;
    }

    span {
      position: absolute;
      left: 4px;
      top: 50%;
      display: block;
      padding: 0;
      width: 18px;
      height: 2px;
      font-size: 0;
      background-color: $main;
      transform: translateY(-50%);
      transition: opacity 0.4s;
    }

    @include r($lg) {
      display: block;
    }
  }

  &__burger--active {
    &::before,
    &::after {
      left: 5px;
      width: 22px;
    }

    &::before {
      bottom: 15px;
      transform: rotate(45deg);
    }

    &::after {
      top: 15px;
      transform: rotate(-45deg);
    }

    span {
      opacity: 0;
    }
  }

  @include r($lg) {
    align-items: center;
    height: 50px;
  }
}

.menu__list--active {
  transform: none;

  li {
    &:nth-child(1) {
      animation: menu-move 0.6s;
    }

    &:nth-child(2) {
      animation: menu-move 0.65s;
    }

    &:nth-child(3) {
      animation: menu-move 0.7s;
    }

    &:nth-child(4) {
      animation: menu-move 0.75s;
    }

    &:nth-child(5) {
      animation: menu-move 0.8s;
    }

    &:nth-child(6) {
      animation: menu-move 0.85s;
    }

    &:nth-child(7) {
      animation: menu-move 0.9s;
    }

    &:nth-child(8) {
      animation: menu-move 0.95s;
    }

    &:nth-child(9) {
      animation: menu-move 1s;
    }

    &:nth-child(10) {
      animation: menu-move 1.05s;
    }

    &:nth-child(11) {
      animation: menu-move 1.1s;
    }

    &:nth-child(12) {
      animation: menu-move 1.15s;
    }

    &:nth-child(13) {
      animation: menu-move 1.2s;
    }
  }
}

.logo {
  position: relative;
  z-index: 10;
  display: block;
  width: 137px;
  height: 120px;
  transition: all 0.2s;

  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 137px;
    height: 120px;
    background-size: contain;
    transition: visibility 0.2s, opacity 0.2s;

    @include r($lg) {
      display: none;
    }
  }

  .logo__star {
    position: absolute;
    left: 0;
    top: 0;
    background-color: transparent;
    transition: background-color 0.2s;

    @include r($lg) {
      width: 34px;
      height: 34px;
    }
  }

  @include r($lg) {
    width: 34px;
    height: 34px;
  }
}

.logo--active {
  width: 40px;
  height: 38px;

  img {
    visibility: hidden;
    opacity: 0;

    @include r($lg) {
      visibility: visible;
      opacity: 1;
    }
  }

  @include r($lg) {
    width: 34px;
    height: 34px;
  }
}