.looking {
  position: relative;
  margin-bottom: 150px;
  overflow: hidden;

  &::after {
    content: url("../images/decor1.svg");
    position: absolute;
    left: -200px;
    top: 0;
    z-index: -1;
    opacity: 0.2;
  }

  &__wrapper {
    margin: 0 0 150px auto;
    padding-top: 20%;
    max-width: 970px;
    animation: appear 1.5s;

    @include r($xl) {
      margin: 0 auto 100px 0;
    }

    @include r($md) {
      margin: 0 auto 48px 0;
      padding-top: 159px;
    }
  }

  h1 {
    margin-bottom: 21px;
    font-family: "Neue Machina", sans-serif;
    font-size: 66px;
    text-transform: uppercase;

    @include r($xl) {
      margin-bottom: 15px;
      font-size: 40px;
    }
  }

  p {
    font-size: 24px;

    @include r($xl) {
      font-size: 18px;
    }
  }

  img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    animation: appear 1.6s;

    @include r($xl) {
      min-height: 150px;
    }
  }

  @include r($md) {
    margin-bottom: 48px;
  }
}

.candidate {
  margin-bottom: 250px;

  &__wrapper {
    display: flex;
    margin-bottom: 150px;
    padding-top: 50px;
    border-top: 2px solid $black;
    animation: appear 1.5s;

    h4 {
      margin-right: 50px;
      width: 460px;
      min-width: 460px;
      max-width: 460px;
      font-weight: 500;
      font-size: 36px;

      @include r(1500) {
        margin-right: 40px;
        width: 420px;
        min-width: 420px;
        max-width: 420px;
        font-size: 30px;
      }

      @include r($xl) {
        margin-right: 30px;
        width: 360px;
        min-width: 360px;
        max-width: 360px;
      }

      @include r($lg) {
        margin-right: 30px;
        width: 280px;
        min-width: 280px;
        max-width: 280px;
        font-size: 30px;
      }

      @include r($md) {
        margin-right: 0;
        margin-bottom: 25px;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        font-size: 24px;
      }
    }

    ol {
      padding-left: 28px;
      list-style: decimal;

      li {
        align-items: flex-start;
        font-size: 24px;
        line-height: 28px;

        &:not(:last-child) {
          margin-bottom: 50px;

          @include r($xl) {
            margin-bottom: 30px;
          }

          @include r($md) {
            margin-bottom: 25px;
          }
        }

        &::marker {
          font-weight: 400;
          font-size: 24px;
          line-height: 1.15;
          color: $main;

          @include r($md) {
            font-weight: 500;
            font-size: 16px;
          }
        }

        @include r($xl) {
          font-size: 20px;
        }

        @include r($md) {
          font-size: 16px;
        }
      }

      @include r($md) {
        padding-left: 17px;
      }
    }

    @include r($lg) {
      margin-bottom: 100px;
    }

    @include r($md) {
      flex-direction: column;
      margin-bottom: 25px;
      padding-top: 25px;
      border-top: 1px solid $black;
    }
  }

  h3 {
    font-weight: 500;
    font-size: 48px;
    text-transform: uppercase;
    color: $main;
    animation: appear 1.5s;

    @include r(1600) {
      font-size: 36px;
    }

    @include r($xl) {
      font-size: 26px;
    }

    @include r($lg) {
      font-size: 24px;
    }
  }

  &--article {
    margin-bottom: 250px;
  }

  @include r(1700) {
    margin-bottom: 150px;
  }

  @include r($xl) {
    margin-bottom: 100px;
  }
}

.skills {
  margin-bottom: 250px;

  &__wrapper {
    display: flex;
    padding-top: 50px;
    border-top: 2px solid $black;
    animation: appear 1.5s;

    @include r($md) {
      flex-direction: column;
      padding-top: 25px;
      border-top: 1px solid $black;
    }
  }

  h4 {
    display: block;
    margin-right: 50px;
    width: 460px;
    min-width: 460px;
    max-width: 460px;
    font-weight: 500;
    font-size: 36px;

    @include r(1500) {
      margin-right: 40px;
      width: 420px;
      min-width: 420px;
      max-width: 420px;
      font-size: 30px;
    }

    @include r($xl) {
      margin-right: 30px;
      width: 360px;
      min-width: 360px;
      max-width: 360px;
      font-size: 30px;
    }

    @include r($lg) {
      margin-right: 30px;
      width: 280px;
      min-width: 280px;
      max-width: 280px;
      font-size: 30px;
    }

    @include r($md) {
      margin-right: 0;
      margin-bottom: 25px;
      width: 10%;
      min-width: 100%;
      max-width: 100%;
      font-size: 24px;
    }
  }

  ul {
    li {
      position: relative;
      padding-left: 39px;
      font-size: 24px;
      line-height: 28px;

      &::before {
        content: url("../images/blue-star-small.svg");
        position: absolute;
        left: 0;
        top: 0;
        width: 24px;
        height: 24px;
      }

      &:not(:last-child) {
        margin-bottom: 50px;

        @include r($xl) {
          margin-bottom: 30px;
        }

        @include r($md) {
          margin-bottom: 25px;
        }
      }

      @include r($xl) {
        font-size: 20px;
      }

      @include r($md) {
        padding-left: 29px;
        font-size: 16px;
      }
    }
  }

  .button-link {
    margin-top: 50px;

    @include r($md) {
      margin-top: 25px;
    }
  }

  &--bg {
    position: relative;

    &::after {
      content: url("../images/decor1.svg");
      position: absolute;
      right: 2%;
      top: -48%;
      z-index: -1;
      opacity: 0.2;
      width: 100%;
      height: 100%;

      @include r($md) {
        display: none;
      }
    }
  }

  @include r($xl) {
    margin-bottom: 158px;
  }

  @include r($md) {
    margin-bottom: 118px;
  }
}

.connect--vacancy {
  &::before {
    display: none;
  }

  .form {
    input {
      border-bottom: 2px solid $black;
      color: $secondary;

      &::placeholder {
        color: $secondary;
      }

      @include r($md) {
        border-bottom: 1px solid $black;
      }
    }
  }

  .connect__upload {
    span {
      color: $secondary !important;
    }
  }

  .connect__photo-inner {
    p {
      color: #454545;
    }
  }
}